<p>Ballot Transmittal for <%= @raw_ballot.show_title %>.</p>

<p><b>BALLOT INFORMATION</b></p>
<table>
  <tr><th align="right">Show Title:</th><td><%= @raw_ballot.show_title %></td></tr>
  <tr><th align="right">Producing Company:</th><td><%= RemoteMemberCompany.find(@raw_ballot.producing_company).name %> (<%= @raw_ballot.producing_company %>)</td></tr>
  <tr><th align="right">Date Viewed:</th><td><%= @raw_ballot.date_viewed %></td></tr>
  <tr><th align="right">Adjudicator Company:</th><td><%= RemoteMemberCompany.find(@raw_ballot.producing_company).name %> (<%= @raw_ballot.producing_company %>)</td></tr>
  <tr><th align="right">Adjudicator Number:</th><td><%= @raw_ballot.adjudicator_number %></td></tr>
</table>

<p><b>OVERALL SCORES</b></p>
<table>
  <tr>
    <th align="right">Choreography:</th>
    <td><%= @raw_ballot.ballot_overall_scoreblock.choreographer_name %></td>
    <td><%= @raw_ballot.ballot_overall_scoreblock.choreography_score %></td>
  </tr>
  <tr>
    <th align="right">Combat Choreography:</th>
    <td><%= @raw_ballot.ballot_overall_scoreblock.combat_choreographer_name %></td>
    <td><%= @raw_ballot.ballot_overall_scoreblock.combat_choreography_score %></td> 
 </tr>  
  <tr>
    <th align="right">Music Direction:</th>
    <td><%= @raw_ballot.ballot_overall_scoreblock.music_director_name %></td>
    <td><%= @raw_ballot.ballot_overall_scoreblock.music_direction_score %></td>
  </tr>
  <tr>
    <th align="right">Direction:</th>
    <td><%= @raw_ballot.ballot_overall_scoreblock.director_name %></td>
    <td><%= @raw_ballot.ballot_overall_scoreblock.direction_score %></td>
  </tr>
  <tr>
    <th align="right">Overall:</th>
    <td><%= @raw_ballot.ballot_overall_scoreblock.overall_names %></td>
    <td><%= @raw_ballot.ballot_overall_scoreblock.overall_score %></td>
  </tr>
</table>


<p><b>TECHNICAL SCORES</b></p>
<table>
  <tr>
    <th align="right">Set Design:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_designer_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_design_score %></td>
  </tr>
  <tr>
    <th align="right">Set Construction:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_construction_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_construction_score %></td> 
 </tr>  
  <tr>
    <th align="right">Set Painting:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_painter_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_painting_score %></td>
  </tr>
  <tr>
    <th align="right">Set Decoration:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_decoration_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.set_decoration_score %></td>
  </tr>
  <tr>
    <th align="right">Properties:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.properties_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.properties_score %></td>
  </tr>
<tr>
    <th align="right">Light Design:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.light_designer_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.light_design_score %></td>
  </tr><tr>
    <th align="right">Sound Design:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.sound_designer_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.sound_design_score %></td>
  </tr><tr>
    <th align="right">Special Effects:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.sfx_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.sfx_score %></td>
  </tr><tr>
    <th align="right">Costume Design:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.costume_designer_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.costume_design_score %></td>
  </tr><tr>
    <th align="right">Makeup Design:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.makeup_designer_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.makeup_design_score %></td>
  </tr><tr>
    <th align="right">Hair Design:</th>
    <td><%= @raw_ballot.ballot_technical_scoreblock.hair_designer_name %></td>
    <td><%= @raw_ballot.ballot_technical_scoreblock.hair_design_score %></td>
  </tr>
</table>

<p><b>PERFORMANCE SCORES</b></p>
<table>
  <tr>
    <th>Actor</th>
    <th>Role</th>
    <th>Sex</th>
    <th>Type</th>
    <th>Score</th>
  </tr>
  <% @raw_ballot.ballot_performer_scores.each do |role| %>
    <tr>
      <td><%= role.performer_name %></td>
      <td><%= role.role_name %></td>
      <td><%= role.performer_gender %></td>
      <td><%= role.role_type %></td>
      <td><%= role.score %></td>
      </tr>
  <% end %>
</table>

